<h1>Text Sample: <%= @text_sample.description %></h1>
<div class="row">
  <div class="col">
    <%= text_area_tag("text", @text_sample.text, disabled: true, size: "50x10", class: "form-control") %>
    <div>
      <%= link_to "Edit", edit_text_sample_path(@text_sample) %> |
      <%= link_to "Back", text_samples_path %>
    </div>
    <h2>Stats</h2>
  </div>
  <div class="col">
    <h2>Generate</h2>
    <%= form_with(model: @text_sample, url: url_for([:generate, @text_sample]), method: "get", local: true) do %>
      <div class="form-group row">
        <%= label_tag(:output_size, "Output size", class: "col-sm-3 col-form-label") %>
        <div class="col-sm-9">
          <%= text_field_tag(:output_size,TextSample::DEFAULT_OUTPUT_SIZE, class: "form-control") %>
        </div>
      </div>
      <div class="form-group row">
        <%= label_tag(:chunk_size, "Chunk size", class: "col-sm-3 col-form-label") %>
        <div class="col-sm-9">
          <%= select_tag(:chunk_size, options_for_select([2,3,4,5,6,7,8], TextSample::DEFAULT_CHUNK_SIZE),class: "form-control") %>
        </div>
      </div>
      <%= submit_tag("Generate", class: "btn btn-primary") %>
    <% end %>
    <% if @generated_text %>
      <div id="generated-text">
        <h2>Generated Text</h2>
        <p><%= @generated_text %></p>
      </div>
    <% end %>
  </div>
</div>
