<!DOCTYPE html>
<html>
  <head>
    <title>Word Predictor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <%= link_to "Word Predictor", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Text Samples", text_samples_path, class: "nav-item nav-link"%>
          <%= link_to "Settings", settings_path, class: "nav-item nav-link"%>
        </div>
      </div>
    </nav>
    <div id="main-container" class="container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type == 'notice' ? 'success' : type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
